In [8]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('https://static.bc-edx.com/data/dl-1-2/m21/lessons/2/HR-Employee-Attrition.csv')
attrition_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,HourlyRate,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,41,Yes,Travel_Rarely,1102,Sales,1,2,2,Female,94,...,Single,5993,19479,8,Y,Yes,11,3,80,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,3,Male,61,...,Married,5130,24907,1,Y,No,23,4,80,3
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,4,Male,92,...,Single,2090,2396,6,Y,Yes,15,3,80,3
3,33,No,Travel_Frequently,1392,Research & Development,3,4,4,Female,56,...,Married,2909,23159,1,Y,Yes,11,3,80,3
4,27,No,Travel_Rarely,591,Research & Development,2,1,1,Male,40,...,Married,3468,16632,9,Y,No,12,3,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,3,Male,41,...,Married,2571,12290,4,Y,No,17,3,80,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,4,Male,42,...,Married,9991,21457,4,Y,No,15,3,80,3
1467,27,No,Travel_Rarely,155,Research & Development,4,3,2,Male,87,...,Married,6142,5174,1,Y,Yes,20,4,80,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,4,Male,63,...,Married,5390,13243,2,Y,No,14,3,80,2
1469,34,No,Travel_Rarely,628,Research & Development,8,3,2,Male,82,...,Married,4404,10228,2,Y,No,12,3,80,4

In [18]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [19]:
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [20]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [21]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,Gender_Female,Gender_Male,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [24]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)

In [26]:
for x in attrition_cat:
    del attrition_df[x]
# attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,3,61,2,2,2,5130,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,4,92,2,1,3,2090,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,4,56,3,1,3,2909,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,40,3,1,2,3468,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [29]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [31]:
# from sklearn.preprocessing import

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
X_train.shape[1]

89

In [35]:
len(X_train[0])

89

In [38]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 8)                 720

 dense_7 (Dense)             (None, 5)                 45

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 771 (3.01 KB)
Trainable params: 771 (3.01 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\k\anaconda3\envs\DataClass\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [40]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\k\anaconda3\envs\DataClass\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\k\anaconda3\envs\DataClass\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

35/35 [==============================] - 1s 3ms/step - loss: 0.5420 - accuracy: 0.7323
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 0.3748 - accuracy: 0.8603
Epoch 3/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2802 - accuracy: 0.9083
Epoch 4/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2057 - accuracy: 0.9474
Epoch 5/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1436 - accuracy: 0.9746
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0958 - accuracy: 0.9936
Epoch 7/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0625 - accuracy: 0.9973
Epoch 8/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0413 - accuracy: 0.9982
Epoch 9/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0284 - accuracy: 0.9991
Epoch 10/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0206 - accuracy: 0.9991
Epoch 11/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0155 - accuracy: 0.9991
Epoch 12/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0121 - accuracy: 0.9991
Epoch 13/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0098 - accuracy: 1.0000
Epoch 14/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0080 - accuracy: 1.0000
Epoch 15/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0058 - accuracy: 1.0000
Epoch 17/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0050 - accuracy: 1.0000
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0043 - accuracy: 1.0000
Epoch 19/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0038 - accuracy: 1.0000
Epoch 20/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0034 - accuracy: 1.0000
Epoch 21/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0030 - accuracy: 1.0000
Epoch 22/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0027 - accuracy: 1.0000
Epoch 23/100
35/35 [==============================] - 0s 4ms/step - loss: 0.0024 - accuracy: 1.0000
Epoch 24/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0022 - accuracy: 1.0000
Epoch 25/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0020 - accuracy: 1.0000
Epoch 26/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0018 - accuracy: 1.0000
Epoch 27/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0017 - accuracy: 1.0000
Epoch 28/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0015 - accuracy: 1.0000
Epoch 29/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0014 - accuracy: 1.0000
Epoch 30/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0013 - accuracy: 1.0000
Epoch 31/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0012 - accuracy: 1.0000
Epoch 32/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0011 - accuracy: 1.0000
Epoch 33/100
35/35 [==============================] - 0s 3ms/step - loss: 0.0010 - accuracy: 1.0000
Epoch 34/100
35/35 [==============================] - 0s 3ms/step - loss: 9.7726e-04 - accuracy: 1.0000
Epoch 35/100
35/35 [==============================] - 0s 3ms/step - loss: 9.1207e-04 - accuracy: 1.0000
Epoch 36/100
35/35 [==============================] - 0s 3ms/step - loss: 8.5419e-04 - accuracy: 1.0000
Epoch 37/100
35/35 [==============================] - 0s 3ms/step - loss: 8.0180e-04 - accuracy: 1.0000
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 7.5605e-04 - accuracy: 1.0000
Epoch 39/100
35/35 [==============================] - 0s 3ms/step - loss: 7.0854e-04 - accuracy: 1.0000
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 6.6735e-04 - accuracy: 1.0000
Epoch 41/100
35/35 [==============================] - 0s 3ms/step - loss: 6.2925e-04 - accuracy: 1.0000
Epoch 42/100
35/35 [==============================] - 0s 4ms/step - loss: 5.9511e-04 - accuracy: 1.0000
Epoch 43/100
35/35 [==============================] - 0s 3ms/step - loss: 5.6227e-04 - accuracy: 1.0000
Epoch 44/100
35/35 [==============================] - 0s 3ms/step - loss: 5.3193e-04 - accuracy: 1.0000
Epoch 45/100
35/35 [==============================] - 0s 3ms/step - loss: 4.9923e-04 - accuracy: 1.0000
Epoch 46/100
35/35 [==============================] - 0s 3ms/step - loss: 4.7338e-04 - accuracy: 1.0000
Epoch 47/100
35/35 [==============================] - 0s 4ms/step - loss: 4.5036e-04 - accuracy: 1.0000
Epoch 48/100
35/35 [==============================] - 0s 3ms/step - loss: 4.2768e-04 - accuracy: 1.0000
Epoch 49/100
35/35 [==============================] - 0s 3ms/step - loss: 4.0760e-04 - accuracy: 1.0000
Epoch 50/100
35/35 [==============================] - 0s 3ms/step - loss: 3.8815e-04 - accuracy: 1.0000
Epoch 51/100
35/35 [==============================] - 0s 3ms/step - loss: 3.6989e-04 - accuracy: 1.0000
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 3.5323e-04 - accuracy: 1.0000
Epoch 53/100
35/35 [==============================] - 0s 3ms/step - loss: 3.3707e-04 - accuracy: 1.0000
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 3.2192e-04 - accuracy: 1.0000
Epoch 55/100
35/35 [==============================] - 0s 3ms/step - loss: 3.0791e-04 - accuracy: 1.0000
Epoch 56/100
35/35 [==============================] - 0s 3ms/step - loss: 2.9507e-04 - accuracy: 1.0000
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 2.8200e-04 - accuracy: 1.0000
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 2.7042e-04 - accuracy: 1.0000
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 2.5905e-04 - accuracy: 1.0000
Epoch 60/100
35/35 [==============================] - 0s 3ms/step - loss: 2.4804e-04 - accuracy: 1.0000
Epoch 61/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3673e-04 - accuracy: 1.0000
Epoch 62/100
35/35 [==============================] - 0s 3ms/step - loss: 2.2738e-04 - accuracy: 1.0000
Epoch 63/100
35/35 [==============================] - 0s 3ms/step - loss: 2.1849e-04 - accuracy: 1.0000
Epoch 64/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0991e-04 - accuracy: 1.0000
Epoch 65/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0189e-04 - accuracy: 1.0000
Epoch 66/100
35/35 [==============================] - 0s 3ms/step - loss: 1.9392e-04 - accuracy: 1.0000
Epoch 67/100
35/35 [==============================] - 0s 3ms/step - loss: 1.8683e-04 - accuracy: 1.0000
Epoch 68/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7980e-04 - accuracy: 1.0000
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7361e-04 - accuracy: 1.0000
Epoch 70/100
35/35 [==============================] - 0s 3ms/step - loss: 1.6700e-04 - accuracy: 1.0000
Epoch 71/100
35/35 [==============================] - 0s 3ms/step - loss: 1.6104e-04 - accuracy: 1.0000
Epoch 72/100
35/35 [==============================] - 0s 3ms/step - loss: 1.5525e-04 - accuracy: 1.0000
Epoch 73/100
35/35 [==============================] - 0s 3ms/step - loss: 1.4990e-04 - accuracy: 1.0000
Epoch 74/100
35/35 [==============================] - 0s 3ms/step - loss: 1.4461e-04 - accuracy: 1.0000
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 1.3964e-04 - accuracy: 1.0000
Epoch 76/100
35/35 [==============================] - 0s 3ms/step - loss: 1.3489e-04 - accuracy: 1.0000
Epoch 77/100
35/35 [==============================] - 0s 3ms/step - loss: 1.3036e-04 - accuracy: 1.0000
Epoch 78/100
35/35 [==============================] - 0s 4ms/step - loss: 1.2601e-04 - accuracy: 1.0000
Epoch 79/100
35/35 [==============================] - 0s 3ms/step - loss: 1.2186e-04 - accuracy: 1.0000
Epoch 80/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1784e-04 - accuracy: 1.0000
Epoch 81/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1397e-04 - accuracy: 1.0000
Epoch 82/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1061e-04 - accuracy: 1.0000
Epoch 83/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0686e-04 - accuracy: 1.0000
Epoch 84/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0373e-04 - accuracy: 1.0000
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0020e-04 - accuracy: 1.0000
Epoch 86/100
35/35 [==============================] - 0s 3ms/step - loss: 9.7128e-05 - accuracy: 1.0000
Epoch 87/100
35/35 [==============================] - 0s 3ms/step - loss: 9.4093e-05 - accuracy: 1.0000
Epoch 88/100
35/35 [==============================] - 0s 3ms/step - loss: 9.1116e-05 - accuracy: 1.0000
Epoch 89/100
35/35 [==============================] - 0s 3ms/step - loss: 8.8387e-05 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 8.5720e-05 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 8.3131e-05 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 3ms/step - loss: 8.0672e-05 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 7.8237e-05 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 3ms/step - loss: 7.6039e-05 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 3ms/step - loss: 7.3707e-05 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 3ms/step - loss: 7.1592e-05 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 3ms/step - loss: 6.9661e-05 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 3ms/step - loss: 6.7579e-05 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 3ms/step - loss: 6.5657e-05 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 3ms/step - loss: 6.3809e-05 - accuracy: 1.0000

In [41]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 7.7072e-05 - accuracy: 1.0000 - 355ms/epoch - 30ms/step
Loss: 7.707233453402296e-05, Accuracy: 1.0